body{
    font-family: "Roboto";
    background: linear-gradient(to left, #D6D0D0,#B2ACAC);
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
}



.name_inicio{
    font-size: 25px;
    color:#000;
}


.button_inicio{
    font-weight: 500;
    color:#fff;
    background-color:#000;
    border-radius: 10px;
    margin-top: 10px;
    height:40px;
    width: 110px;
    margin-right: 6px;
    margin-left: 6px;    
}

.price_inicio{
    font-size:15px;
    color:#fff;
    background-color: #000;
}
